<ion-header>
  <ion-toolbar>
    <ion-buttons slot ="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>{{movieData?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="backdrop" *ngIf="movieData">
    <img *ngIf="movieData.backdrop_path" [src]="'https://image.tmdb.org/t/p/original' + movieData.backdrop_path">
  </div>
  <div class="backdrop-separator1"></div>
  <div class="backdrop-separator2"></div>
  <div class="poster" *ngIf="movieData">
    <img *ngIf="movieData.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + movieData.poster_path">
    <img *ngIf="movieData.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + movieData.poster_path">
  </div>
  <!--  -->
  <div class="movie-data" *ngIf="movieData">
    <div class="title">{{movieData.title }}</div>
    <div class="year">{{movieData.release_date | date:'yyyy' }}</div>
  </div>
  <div class="vote">
    <div class="text">
      <b>{{movieData.vote_average}}</b>/10
    </div>
  <div class="stars">
    <ion-icon [name]="movieData.vote_average >= 2 ? 'star' : movieData.vote_average >= 1 ? 'star-half' : 'star-outline'"></ion-icon>
    <ion-icon [name]="movieData.vote_average >= 4 ? 'star' : movieData.vote_average >= 3 ? 'star-half' : 'star-outline'"></ion-icon>
    <ion-icon [name]="movieData.vote_average >= 6 ? 'star' : movieData.vote_average >= 5 ? 'star-half' : 'star-outline'"></ion-icon>
    <ion-icon [name]="movieData.vote_average >= 8 ? 'star' : movieData.vote_average >= 7 ? 'star-half' : 'star-outline'"></ion-icon>
    <ion-icon [name]="movieData.vote_average >= 10 ? 'star' :movieData.vote_average >= 9 ? 'star-half' : 'star-outline'"></ion-icon>
  </div>
  <div class="count">{{ movieData.vote_count }} votos</div>
</div>

<div class="overview">{{movieData.overview }}</div>

<div class="duration" *ngIf="movieData && movieData.runtime">
  <div class="label"><ion-icon name="md-time"></ion-icon>Duración</div>
  <div class="value">{{movieData.runtime }} mins</div>
</div>
<div class="genres" *ngIf="movieData && movieData.genres && movieData.genres.length">
  <div class="label"><ion-icon name="md-pricetag"></ion-icon>Géneros</div>
  <div class="value"><span *ngFor="let genre of movieData.genres; let last = last">{{ genre.name }}<span *ngIf="!last">, </span></span></div>
</div>

<div class="cast" *ngIf="movieData && movieData.credits && movieData.credits.cast && movieData.credits.cast.length">
  <div class="label"><ion-icon name="md-people"></ion-icon>Reparto</div>
  <div class="persons">
    <div *ngFor="let a of movieData.credits.cast; let index = index">
      <div class="person" *ngIf="index < 15" [style.background-image]="a.profile_path ? 'url(https://image.tmdb.org/t/p/w500' + a.profile_path + ')' : ''" (click)="onPersonDetail(a.id)">
        <div class="name">{{ a.name }}</div>
      </div>
    </div>
  </div> 
</div>

</ion-content>
